<h2>My Surveys</h2>
<div id="mySurveysPage">
        <table class="table">
                <tr>
                        <th>Description</th>
                        <th>Expiration Date</th>
                        <th>Submitted by</th>
                        <th>Actions</th>
                </tr>
                <tr ng-show="surveys.length === 0">
                        <td colspan="3">There are no surveys found</td>
                </tr>
                <tr ng-repeat="survey in surveys">
                        <td>{{ survey.description }}</td>
                        <td>{{ survey.expirationDate }}</td>
                        <td>{{ survey._owner.username }}</td>
                        <td><a href="/#/surveys/{{ survey._id }}/report"><button class="btn btn-default">View</button></a>
                        <a href="/#/surveys/{{ survey._id }}"><button class="btn btn-default">Respond</button></a>
                </tr>
        </table>
</div>
