<h2>Survey Statistics</h2>
<hr>
<div id="reportPage">
        <h3>{{ survey.description }}</h3>

        <div ng-repeat="question in survey.questions">
                <table class="table table-striped">
                        <tr>
                                <td>{{ question.text }}</td>
                        </tr>
                        <tr>
                        <td>
                                <table class="table">
                                        <thead>
                                                <th>Answer</th>
                                                <th>Votes</th>
                                        </thead>
                                        <tbody>
                                                <tr ng-repeat="answer in question.answers">
                                                        <td>{{ answer.text }}</td>
                                                        <td>{{ answer.responses.length }}</td>
                                                </tr>
                                        </tbody>
                                </table>
                        </td>
                        </tr>
                </table>
                <hr>
        </div>
        <div ng-repeat="question in survey.questions">
                <div>
                        <h4>Response to {{ question.text }}</h4>
                        <div class="answers" ng-repeat="answer in question.answers">
                                <div class="responses" ng-repeat="response in answer.responses">
                                        <p>Responded <b>{{ answer.text }}</b> at {{ response }}</p>
                                </div>
                        </div>
                </div>
                <hr>
        </div>
</div>


