<h2>Surveys</h2>
<div id="surveysPage">
        <table class="table">
                <tr>
                        <th>Description</th>
                        <th>Expiration Date</th>
                        <th>Submitted by</th>
                </tr>
                <tr ng-repeat="survey in surveys">
                        <td>{{ survey.description }}</td>
                        <td>{{ survey.expirationDate }}</td>
                        <td>{{ survey._owner.username }}</td>
                </tr>
        </table>
</div>
