doctype html(lang='en')
head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='./lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='./lib/bootstrap/dist/css/bootstrap-theme.min.css')
        title Register | Survey Site | Ace Digital
body(ng-app='mainApp')
        .container(ng-controller='RegistrationCtrl')
                .row
                        #leftCol.col-md-3
                                .well
                                        h1 Survey Site
                                        ul#sidebar.nav.nav-stacked
                                                li
                                                        a(href='/') Home
                                                        a(href='/login') Login
                                                        a(href='/register') Register
                                                        a(href='/allsurveys') All Surveys
                        .col-md-9
                                h2 Register
                                form(name='registrationForm', ng-submit="register()", role='form')
                                        .errors(ng-messages='registrationForm.username.$error', role='alert')
                                                span(ng-message='required') Username is required
                                        .errors(ng-messages='registrationForm.email.$error', role='alert')
                                                span(ng-message='required') Email is required
                                                span(ng-message='minlength, maxlength') Your email must be between 5 and 100 characters long
                                        .errors(ng-messages='registrationForm.password.$error', role='alert')
                                                span(ng-message='required') Password is required
                                                span(ng-message='minlength') Password Minimum length is 6
                                        .errors(ng-messages='registrationForm.confirmPassword.$error', role='alert')
                                                span(ng-message='required') Confirm Password is required
                                        .errors(role='alert')
                                                span(ng-repeat='error in errors')
                                                        | {{ error }}
                                                        p
                                        .form-group
                                                label(for='username') Username
                                                input#username.form-control(type='text', name='username', required='', ng-model='registrationUser.username', ,='', placeholder='Enter Username')
                                        .form-group
                                                label(for='email') Email
                                                input#email.form-control(type='email', name='email', minlength='5', maxlength='100', required='', ng-model='registrationUser.email', ,='', placeholder='Enter Email')
                                        .form-group
                                                label(for='password') Password
                                                input#password.form-control(type='password', required='', minlength='6', name='password', ,='', ng-model='registrationUser.password', placeholder='Password')
                                        .form-group
                                                label(for='confirmPassword') Confirm Password
                                                input#confirmPassword.form-control(type='password', required='', name='confirmPassword', ,='', ng-model='registrationUser.confirmPassword', placeholder='Confirm Password')
                                        input#submit.btn.btn-primary.form-control(type='submit', value='Register')


        script(data-require='angular.js@*', data-semver='1.4.0-beta.4', src='https://code.angularjs.org/1.4.0-beta.4/angular.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

        script(type="text/javascript", src="./js/users/register.client.controller.js")
